.cards-cont{
    padding: 7.5%;
    width: 100%;
}
    .cards{
        color: #111;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        /* background-color: rgba(220, 20, 60, 0.486); */
    }    
        .card-item{
            width: 80%;
            max-width: 270px;
            min-width: 200px;
            margin: 10px 0;
            padding: 25px 15px;
            padding-bottom: 45px;
            border-radius: 20px;
            background-color: rgb(246, 246, 246);
            box-shadow: 0 7px 10px rgb(37, 37, 37);
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
        }
            .card-item>p{
                max-width: 85%;
            }
            .card-item>img{
                height: 60px;
                width: 60px; 
                border: 3px solid rgb(211, 211, 211);
                border-radius: 100%;
            }
            .card-item>a{
                display: flex;
                justify-content: center;
                align-items: center;
            }
                .card-item>a>img{
                    height: 25px;
                    margin: 7px;
                }
                .card-item>a>p{
                    color: cornflowerblue;
                }
