.supercont-of-cards{
    width: 100%;
    display: flex;
    flex-direction: column;
}
    .cont-of-cards{
        margin: auto;
        width: 95%;
        color: #111;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }    
        .card{
            width: 100%;
            max-width: 270px;
            min-width: 200px;
            margin: 3vw 2vw;
            padding: 2vh 1.5vw;
            padding-bottom: 3vh;
            border-radius: 20px;
            background-color: rgb(246, 246, 246);
            box-shadow: 0 7px 10px rgb(37, 37, 37);
            transition: 0.3s;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
        }
            .card>p{
                margin: 2vh;
                max-width: 80%;
                text-align: left;
                text-indent: 1em;
            }
            .card>img{
                height: 60px;
                width: 60px; 
                border: 3px solid rgb(211, 211, 211);
                border-radius: 100%;
            }
            .card>a{
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
            }
                .card>a>h4{
                    padding: 7px;
                    font-size: 20px;
                    color: rgb(49, 49, 49);
                }
                /* .card-item>a>img{
                    height: 25px;
                    margin: 7px;
                }
                .card-item>a>p{
                    color: cornflowerblue;
                } */
        #card--last{                
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            text-align: left;
        }/**/
