.gallery-cont{
    padding: 7.5% 0;
    margin: auto;
    width: 85%;
    max-width: 250px;
    /* max-height: 90vh; */
    height: fit-content;
    /* background-color: rgba(233, 170, 97, 0.5); */
}

    .gallery{
        /* background-color: rgba(145, 97, 233, 0.5); */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 15vh);
        grid-template-areas:'two two'
                            'one fiv'
                            'one fou'
                            'tre fou'
                            'six six';
        gap: 5px;
    }

        .gallery-item{
            position: relative;
            border-radius: 5px;
            overflow: hidden;
            box-shadow: 0 5px 15px black;
        }
            .gallery-item p{
                display: block;
                width: 100%;
                padding: 5px;
                position: absolute;
                bottom: 0;
                left: 0;
                /* transform: translateY(-50%); */
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
            }
        .gallery-item:nth-child(1){
            grid-area: one;
        }
        .gallery-item:nth-child(2){
            grid-area: two;
        }
        .gallery-item:nth-child(3){
            grid-area: tre;
        }
        .gallery-item:nth-child(4){
            grid-area: fou;
        }
        .gallery-item:nth-child(5){
            grid-area: fiv;
        }
        .gallery-item:nth-child(6){
            grid-area: six;
        }
            .gallery-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }