.gallery-cont{
    padding: 7.5% 0;
    margin: auto;
    width: 85%;
    height: fit-content;
}

    .gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: 35vw;
        grid-template-areas:'two two'
                            'one fiv'
                            'one fou'
                            'tre fou'
                            'six six';
        gap: 1vw;
    }

        .gallery-item{
            position: relative;
            border-radius: 1vw;
            overflow: hidden;
            box-shadow: 0 5px 15px black;
            cursor: pointer;
        }
            .gallery-item p{
                display: block;
                width: 100%;
                padding: 1.5vh;
                position: absolute;
                bottom: 0;
                left: 0;
                font-size: 2.7vh;
                color: white;
                background-color: rgba(0, 0, 0, 0.4);
            }
        .gallery-item:nth-child(1){
            grid-area: one;
        }
        .gallery-item:nth-child(2){
            grid-area: two;
        }
        .gallery-item:nth-child(3){
            grid-area: tre;
        }
        .gallery-item:nth-child(4){
            grid-area: fou;
        }
        .gallery-item:nth-child(5){
            grid-area: fiv;
        }
        .gallery-item:nth-child(6){
            grid-area: six;
        }
            .gallery-img{
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

    
    .back-window{
        display: none;
        position: fixed;
        top: 12vh;
        left: 0;
        width: 100%;
        height: 88vh;
        z-index: 50;
        background: rgba(0, 0, 0, 0.5);
    }
        .big-window{
            display: none;
            position: fixed;
            top: 55%;
            left: 50%;
            height: fit-content;
            width: fit-content;
            min-height: 70vh;/*10vh*/
            min-width: 70vw;/*10vh*/
            transform: translate(-50%, -50%);
            /* z-index: 90; */
            background-color: whitesmoke;
            border: 1px solid gray;
            border-radius: 1vh;
            transition: .5s;
        }
            .big-window img{
                height: 80vh;
                width: 70vw;
                object-fit: cover;
                /* width: 100%; */
            }
    .active{
        display: block;
    }