*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

html, body{
    overflow-x: hidden;
}

.--not-scroll{
    overflow: hidden; 
    /* overflow-y: hidden;
    overflow-x: hidden;*/
}

.--scroll{
    overflow: scroll;
}

.--center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.section-title{
    padding: 2em 0;
    color: white;
    font-size: calc(4vh + 1vw);
    /* white-space: nowrap; */
}

/***************        ***************/



header{
    box-shadow: 0 0 3.5vh black;
}
    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 12vh;
        padding-left: 5vh;
        padding-right: 2.5vh;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0);
        box-shadow: 0 0 3.5vh black;
    }
        nav h1{
            letter-spacing: 3px;
            font-size: calc(3.5vh + .7vw);
            color: white;
            display: block;
            width: 20%;
        }
        .menu-toggler{
            height: 5vh;
        }
            .link--sizer{
                display: none;
            }
            .nav-links{
                display: none;
            }

    .supercont-of-slider{
        position: relative;
        width: 100vw;
        height: 100vh;
    }
        .cont-of-slider{
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
            .slider{
                width: 400%;
                height: 100%;
                display: flex;
                transition: .3s;
            }
                .slider-screen{
                    background-image: url(./imagenes/wp2.jpg);
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    height: 100%;
                    width: 25%;
                    position: relative;
                }
                .slider-screen:nth-child(2){
                    background-image: url(./imagenes/parrillas.jpg);
                    background-position: 45% 40%;
                }
                .slider-screen:nth-child(3){
                    background-image: url(./imagenes/wp3.jpg);
                    background-position: 50% 0%;
                } /* */
        .caption{
            height: 40%;
            max-width: 75%;
            text-align: center;
            top: 55%;
            padding: 3%;
            align-items: center;
            background-color: rgba(0, 0, 0, 0.45); /* 
            backdrop-filter: blur(7px);*/
            border: 2px solid white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.95);
        }
            .caption h1{
                padding: 20% auto;
                color: white;
                font-family: 'Roboto';
                font-size: 7vh;
                font-weight: 300;
                letter-spacing: .5vw;
                line-height: 2em;
                text-shadow: 0 5px 10px black ;
                /* background-color: rgba(0, 4, 255, 0.4); */
            }
        /*.cont-of-arrows{
            position: absolute;
            top: 85%;
            left: 50%;
            transform: translateX(-50%);    
            height: 5vh;
            width: 5vh;
            padding: 2.5vh;     
            border-radius: 100%;
            border: 2px solid white;
            background-color: rgba(255, 255, 255, 0.2);
            backdrop-filter: blur(3px);
            box-shadow: 1px 3px 10px rgba(0, 0, 0, 0.8);
        }*/
            /*#slider-arrow--left{
                height: 5vh;
                width: 5vh;
                position: absolute;
                top: 55%;
                left: 5%;
                border-left: 5px solid white;
                border-bottom: 5px solid white;
                transform: translateY(-50%) rotate(45deg);
                
                cursor: pointer;
            }
            #slider-arrow--right{
                height: 5vh;
                width: 5vh;
                position: absolute;
                top: 55%;
                right: 5%;
                border-right: 5px solid white;
                border-bottom: 5px solid rgb(187, 153, 153);
                transform: translateY(-50%) rotate(-45deg);
                
                cursor: pointer;
            }*/
            .arrow--down{
                position: absolute;
                top: 85%;
                left: 50%;
                height: 5vh;
                width: 5vh;
                transform: translateX(-50%) rotate(45deg);
                border-right: 5px solid white;
                border-bottom: 5px solid rgb(240, 240, 240);
            }

    .article-about{
        position: relative;
        width: 100vw;
        height: fit-content;
        padding: 4em 1em;
        background-color: #f5f5f5;
        display: flex;
    }
        .about-context{
            width: 85%;
            margin: auto;
        }
        .about-context h1{
            font-size: calc(4vh + 1vw);
            margin-bottom: 1.2em;
            text-align: center;
            line-height: 1.4em;
        }
        .about-context p{
            margin-bottom: 1.5em;
            text-indent: 1em;
            line-height: 1.4em;
            font-size: 3vh;
            text-align: left;
        }
        .about-context h4{
            position: relative;
            left: -10%;
            text-align: right;
            font-size: 3.4vh;
        }






main{
    /* height: 200vh; */
    height: fit-content;
    width: 100vw;
    padding-bottom: 10vh;
    background: url(./imagenes/fondo-chapa.jpg) no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: white;
}
    section{
        display: block;
        height: fit-content;
        width: 100vw;
    }

    /*

           gallery y cards
         en archivos a parte

     */



footer{
    bottom: 0;
    width: 100vw;
    padding: 10vh 0;
    background-color: black;
}
    .cont-of-socialm{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 5% 3%;
    }

        .socialm{
            height: 30%;
            width: 20%;
            padding: 5% 0;
            margin: 3vw;
            min-width: 200px;
            text-align: center;
            cursor: pointer;
        }

            .iconos{
                height: calc(10vh + 5vw);
            }

            .socialm>a{
                display: block;
                margin-top: 20px;
                width: 100%;
                text-decoration: none;
                white-space: nowrap;
                font-size: 4vh;
                color: white;
            }

            #linkedin{
                background-color: white;
                border-radius: 15px;
            }
























            




/*########          SUPER-SMALL DEVICES          ########*/

@media only screen and (min-width: 425px) {
    .gallery{
        grid-template-columns: repeat(3, 1fr);
        grid-auto-rows: .4fr;
        grid-template-areas:'two two fou'
                            'one fiv fou'
                            'one tre fou'
                            'one six six';
    }
    .socialm{
        width: 35%;
    }
    .card{
        width: 85%;
        max-width: 270px;
        padding: 4vh 1.5vw;
        padding-bottom: 3vh;
    }
        .card>p{
            margin: 3vh 15%;
            max-width: 70%;
        }
}






/*########          SMALL DEVICES          ########*/

@media only screen and (min-width: 600px){
    .cont-of-cards{
        width: 90%;
    }
        .card{
            width: 45%;
            max-width: 300px;
        }
}






/*########          TABLETS          ########*/

@media only screen and (min-width: 768px) {

    .socialm{
        margin: 5vh;
    }

    .gallery{
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: .25fr;
        grid-template-areas:'two two two fou'
                            'one fiv tre fou'
                            'one six six six';
        overflow: hidden;
    }

    .cont-of-cards{
        width: 90%;
    }
        .card{
            width: 45%;
            max-width: 350px;
        }
        #card--last{
            display: flex;
        }
}






/*########          LAPTOP \ DESKTOP          ########*/

@media only screen and (min-width: 992px) {

    nav{
        padding: 0;
        justify-content: center;
    }
        /* nav h1{
        } */
        .menu-toggler{
            display: none;
        }
        .link--sizer{
            display: block;
        }
            .nav-links{
                position: relative;
                right: 0;
                display: block;
                white-space: nowrap;
                text-decoration: none;
                font-size: calc(2.5vh + .3vw);
                color: #fafafa;
                letter-spacing: 1px;
                width: 25%;
                text-align: right;
            }
            .nav-links #right-link{
                left: 0;
                text-align: left;
            }

    .gallery{
        grid-template-columns: repeat(5, 1fr);
        grid-auto-rows: .4fr;
        grid-template-areas:'one two two tre fou'
                            'one fiv six six fou';
    }
        .gallery-item{
            position: relative;
            border-radius: .4vw;
            overflow: hidden;
            box-shadow: 0 5px 15px black;
        }
            .gallery-item_img{
                transition: 1s;
                transform: scale(1.05);
            }
            .gallery-item:hover .gallery-item_img{ 
                transform: scale(1.1);
            }
            .ventana{
                position: absolute;
                left: 0;
                bottom: 0;
                height: 100%;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.1);
                transition: .5s;
            }
                .gallery-item:hover .ventana{
                    height: 0%;
                    padding: 48.6vh auto;
                }
                .gallery-item p{
                    position: relative;
                    top: 50%;
                    transform: translateY(-50%);
                    text-align: center;
                    font-size: 4vh;
                    color: rgb(255, 255, 255);
                    transition: .5s;
                    background-color: transparent;
                    text-shadow: 0 3px 5px black;
                }
                    .gallery-item:hover p{
                        color: transparent;
                        text-shadow: none;
                    }

    .socialm{
        height: 20%;
        width: 20%;
        padding: 5% 0;
        margin: 2vh;
    }
        .iconos{
            height: calc(8vh + 3vw);
        }

        .socialm>a{
            margin-top: 1vh;
            font-size: 3vh;
        }

    .cont-of-cards{
        width: 100%;
    }
    #card--last{
        display: none;
    }
    .card{
        width:24%;
        max-width: 300px;
        border-radius: 2vh;
        background-color: rgb(246, 246, 246);
        box-shadow: 0 1.5vh 2vh rgb(37, 37, 37);
        /* padding: 10vh auto; */
    }
        .card>p{
            max-width: 85%;
            margin: auto 7.5%;
        }
        .card>img{
            height: 8vh;
            width: 8vh;
            border: .2vw solid rgb(211, 211, 211);
        }
            .card>a>img{
                height: 3vh;
                margin: .5vw;
            }
}






/*########          BIG-DESKTOP          ########*/

@media only screen and (min-width: 1200px){
    #card--last{
        display: flex;
    }
    .card{
        width: 20%;
        max-width: none;
        border-radius: 3vh;
        font-size: calc(1vh + .5vw);
    }

}