*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
    color: rgb(224, 224, 224);
}




/* barra de navegacion */

nav{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    background-color: rgba(0, 0, 0);
}

nav div{
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav h1{    
    color: white;
    text-shadow: 0 0px 3px rgb(26, 26, 26);
    /* padding-top: 5px; */
    font-size: 2.5rem;
}

nav span{
     /*background: rgba(255, 217, 161, 0.527);
    height: 50%; */
    width: 30%;
    align-content: center;    
    padding: auto;
}

nav a{
    text-decoration: none;
    /* text-shadow: 0 0px 2px rgb(51, 51, 51); */
    transition: 0.2s;
    color: rgb(224, 224, 224);
    font-size: 1.3rem;
}

nav a:hover{
    padding-bottom: 3px;
    color: rgb(255, 255, 255); 
    /*font-size: 1.33rem; */
    text-shadow: 0 0px 7px rgb(0, 0, 0);
    text-decoration: none;
}





/* HEADER */

.slider{
    position: static;
    height: 100vh;
    background-image: url(./portada1.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 40%;
    background-blend-mode: overlay;
    /* */ background-color: rgba(0, 0, 0, 0.6);
}

.slider h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto';
    font-weight: 400;
    letter-spacing: 7px;
    text-shadow: -1px 2px 5px black;
}

.slider .arrow{
    position: absolute;
    bottom:5vh;
    left: 50%;
    height: 30px;
    width: 30px;
    border-right: 3px solid white;
    border-bottom: 3px solid white;
    transform: translateX(-50%) rotate(45deg);
}

.presentacion{
    position: relative;
    height: 50vh;
    /**/background-color: whitesmoke;
    box-shadow: 0 5px 40px black;
}

.text{
    position: absolute;
    margin: auto;
    width: 85%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: x-large;
}

.text>p{
    text-indent: 1.5em;
    line-height: 1.5em;
    text-align: left;
    color: black;
}

.text>h4{
    text-align: right;
    color: black;
}





/*MAIN*/

main{
    background: url(fondo-chapa.jpg) no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.74);
    background-size: cover;
}

h2{
    text-shadow: -3px 5px 5px rgb(0, 0, 0);
    padding-top: 5%; 
    font-size: xx-large;
}

#trabajos{
    /*background-color: gray; */height: 90vh;
     
}

.galeria{
    min-height: 60%;
    width: fit-content;
    margin: auto;    
    margin-top: 5vh;
    padding: auto;
    display: grid;
    grid-template-columns: repeat(5, 15vw);
    grid-template-rows: repeat(3, 15vw);
    /**/grid-template-areas:    
    'one two two tre four'
    'one fiv six six four';
      /*grid-template-areas:    
    'one two two tre ten'
    'one fiv six six four'
    'sev eit eit nin four';
    grid-gap: 1rem;
     background-color: rgb(82, 207, 43, 0.5); */
}

.galeria>img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    /* border-radius: 10px;
    box-shadow: 0 5px 15px black; */
    background-size: cover;
}
.galeria>img:hover{
    cursor: pointer;
}


/* 
.galeria>div:nth-child(1){
    grid-area: one;
    background-image: url(./escalera.jpg);
}

.galeria>div:nth-child(2){
    grid-area: two;
    background-image: url(./portada1.jpg);
}
.galeria>div:nth-child(3){
    grid-area: three;
    background-image: url(./estanteria.jpg);
}
.galeria>div:nth-child(4){
    grid-area: four;
    background-image: url(./montacargas.jpg);
}
.galeria>div:nth-child(5){
    grid-area: five;
    background-image: url(./porton.jpg);
}
.galeria>div:nth-child(6){
    grid-area: six;
    background-image: url(./tinglado.jpg);
} */


.galeria>#i1{
    grid-area: one;
    /* background-image: url(./escalera.jpg); */
}

.galeria>#i2{
    grid-area: two;
    /* background-image: url(./portada1.jpg); */
}
.galeria>#i3{
    grid-area: tre;
    /* background-image: url(./estanteria.jpg); */
}
.galeria>#i4{
    grid-area: four;
    /* background-image: url(./montacargas.jpg); */
}
.galeria>#i5{
    grid-area: fiv;
    /* background-image: url(./porton.jpg); */
}
.galeria>#i6{
    grid-area: six;
    /* background-image: url(./tinglado.jpg); */
}
.galeria>#i7{
    grid-area: sev;
    /* background-color: rgb(130, 132, 238); */
}
.galeria>#i8{
    grid-area: eit;
    /* background-color: rgb(173, 238, 130); */
}
.galeria>#i9{
    grid-area: nin;
    /* background-color: rgb(238, 209, 130); */
}
.galeria>#i10{
    grid-area: ten;
    /* background-color: rgb(195, 130, 238); */
}






#opiniones{
    height: 90vh;
}

.cont-cards{
    /* padding: 10vh; */
    
    width: 90%;
    height: 80%;
    margin: auto;
    display: flex;
     /*  justify-content: center;
   background-color: rgba(255, 145, 145, 0.445);*/
}

.card{
    position: relative;
    width: 25%;
    /* */ min-height: 75%;
    margin: auto;
    /**/ padding: 25px; 
    border-radius: 20px;
    background-color: rgb(246, 246, 246);
    box-shadow: 0 5px 15px black;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    /* */ justify-content: flex-start;
    align-items: center;
}
/*.card:hover{
    width: 40%;
    height: 80%;
    box-shadow: 0 20px 50px rgb(15, 15, 15);
}*/

.card>img{
    height: 60px;
    width: 60px; 
    border: 3px solid rgb(211, 211, 211);
    border-radius: 100%;
    /* margin: 5px; */
}

.card>span{
    display: flex;
    /* */ align-items: center;
}

.card>span>img{
    height: 25px;
    margin: 7px;
    margin-top: 12px;
}

.card a{
    color: rgb(69, 161, 236) ; /*rgb(72, 173, 240); */
    margin: 10px auto;
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
    font-size: 1.5em;
    text-decoration: none;
}

.card p{
    color: black;
    margin: 20px auto;
    font-family: 'Roboto';
    font-weight: 300;
    line-height: 1.5em;
}

/* .card-n1{
    width: 25%;
    height: 50%;
    box-shadow: 0 10px 15px black;
}

.card-n2{
    width: 25%;
    height: 50%;
    box-shadow: 0 20px 50px black;
    transition: 0.3s;
}
.card-n2:hover{
    width: 40%;
    height: 80%;
    box-shadow: 0 20px 50px black;
}

 .card-n3{
    width: 25%;
    height: 50%;
    box-shadow: 0 10px 15px black;
} */






/* FOOTER*/

footer{
    box-shadow: 0 -5px 20px rgb(10, 10, 10);
    padding: 0 5vw;
    /* */ background-color: rgb(10, 10, 10);
}

footer>h2{
    padding-top: 30px;
}

footer>#cont-foot{
    height: 90vh;   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialm{
    height: 45%;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: violet; */
    cursor: pointer;
}

.iconos{
    height: 100px;
    width: 100px;
}

.socialm>a{
    text-decoration: none;
    font-size: x-large;
}

#linkedin{    
    background-color: white;
    border-radius: 15px;
}

.form-consulta{
    height: 85%;
    width: 40%;
    /* padding: 0 5% 5% 5% ; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: rgb(192, 192, 192);
    border-radius: 15px;
}
/* 
#gmail{
    box-sizing: border-box;
    text-shadow: 0 0 10px tomato; 
}
*/
.datos{
    border: none;
    height: 2rem;
    width: 70%;
    border-radius: 7px;
    color: black;
    transition: 180ms box-shadow ease-in-out;
    resize: vertical;
}

.datos:focus{
    box-shadow: 0 0 0 2px rgb(93, 93, 93, 0.4);
    outline: 3px solid transparent;
}

.consulta{
    border: none;
    height: 30%;
    width: 70%;
    border-radius: 7px;
    color: black;
    text-align: start;
    font-family: 'Roboto';
    padding: 10px;
    /* text-indent: 0.5rem; */
}

.send-btn{
    height: 3rem;
    width: 50%;
    border: none;
    border-radius: 7px;
    font-size: 1em;
    font-weight: 500;
    color: white;
    background: rgb(70, 199, 19);
    transition: 10ms ;
}

.send-btn:focus{    
    /*box-shadow: 0 0 0 2px rgb(93, 93, 93, 0.4); */
    outline: 0 solid transparent;
    background: rgb(103, 211, 61);
}