*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}

.center{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title{
    padding: .8em;
    color: white;
}

/******************************/



header{}

    nav{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 10vh;
        padding-left: 5vh;
        padding-right: 2.5vh;
        z-index: 100;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0);
        box-shadow: 0 0 20px black;
    }
        nav h1{
            letter-spacing: 3px;
            color: white;
        }
        /* */.menu-toggler-img{
            height: 5vh;
            background-color: yellowgreen;
        } 

    .slider{
        width: 100vw;
        height: 100vh;
        background-color: rgb(0, 164, 170); /* */        
    }
        .caption{
            height: 40%;
            max-width: 75%;
            text-align: center;
            align-items: center;
            border-top: 2px solid white;
            border-bottom: 2px solid white;
        }
            .caption h1{
                padding: 20% auto;
                color: white;
                font-size: 2.5em;
                line-height: 2em;
            }

    .about-us{
        width: 100%;
        /* height: 90vh; */
        padding: 15% 5%;
        background-color: #f5f5f5;
        display: flex;
    }

        .context{
            max-width: 90%;
            margin: auto;
            /* background-color: #aaf3f3 */
        }
        .context h1{
            margin-bottom: 10%;
            text-align: center;
            line-height: 1.4em;
        }
        .context p{
            margin-bottom: 7%;
            text-indent: 1em;
            line-height: 1.4em;
        }
        .context h4{
            position: relative;
            left: -10%;
            text-align: right;
        }






main{
    /* height: 200vh; */
    height: fit-content;
    width: 100vw;
    padding-bottom: 10vh;
    background: url(./imagenes/fondo-chapa.jpg) no-repeat;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
    background-size: cover;
    color: white;
}
    section{
        display: block;
        height: fit-content;
        width: 100vw;
        /* background-color: cadetblue; */
    }
        section:nth-child(2){
            /* background-color: rgb(84, 160, 94); */
        }
    /*
     
           gallery y cards
         en archivos a parte
     
     */

    

footer{
    bottom: 0;
    width: 100vw;
    /* height: 85vh; */
    padding: 10vh 0;
    background-color: black;
    /* box-shadow: 0 0 20px black; */
}
    footer>#cont-foot{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 5% 0;
    }

        .socialm{
            height: 35%;
            width: 20%;
            padding: 10% 0;
            min-width: 200px;
            text-align: center;
            cursor: pointer;
            /*background-color: violet; */ 
        }

            .iconos{
                height: 10vh;
                
            }

            .socialm>a{
                display: block;
                margin-top: 20px;
                width: 100%;
                text-decoration: none;
                white-space: nowrap;
                font-size: x-large;
                color: white;
                /* background-color: yellow; */
            }

            #linkedin{    
                background-color: white;
                border-radius: 15px;
            }
